threads/bochsout.txt
threads/bochsrc.txt
threads/build/

.DS_Store
.vscode/

userprog/build/
userprog/bochsout.txt
userprog/bochsrc.txt

vm/build/
vm/bochsout.txt
vm/bochsrc.txt

sftp-config.json

bochs/
examples/
filesys/
misc/
tests/
utils/
